# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# System files
Thumbs.db
.DS_Store

# Generated outputs
results/

# Raw datasets
data/